
.background-content h1 {
    padding-bottom: 1cqb;
}

.info-section {
    padding-right: 6rem;
}

.extra-block ul {
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.extra-block h2 {
    margin-bottom: 0.5rem;
}

@media (max-width:1100px) {
    .background-container {
        display: flex;
        flex-direction: column;
    }
}