/* Contenedor Principal con mejor aire */
.about-me-container {
    display: flex;
    gap: 5rem; /* Espacio generoso entre columnas en lugar de línea */
    align-items: center; /* Alinea arriba para que el stack no flote en el medio */
}

/* --- COLUMNA IZQUIERDA (Info) --- */
.about-me-content {
    flex: 3;
}

.section-title {
    font-family: var(--font-titles);
    font-size: 4.5rem; /* Un poco más grande para impacto */
    line-height: 0.9;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.title-second-line,
.title-first-line {
    display: flex;
    gap: 0.8rem;
}

.about-subtitle {
    font-size: larger;
    font-weight: 800;
    margin-bottom: 2rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.info-section p {
    font-size: 1.15rem;
    line-height: 1.7;
    color: var(--gray-text);
    text-align: justify;
}


/* --- COLUMNA DERECHA (Stack) --- */
.secondary-info-section {
    background: rgba(39, 167, 118, 0.05); /* Fondo muy sutil con tu color primario */
    padding: 2.5rem;
    border-radius: 20px;
}

.secondary-info-section h2 {
    margin-bottom: 1rem;
}



[data-theme='dark'] .secondary-info-section {
    background: rgba(255, 255, 255, 0.03);
}


.contact-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
    padding: 0;
}

.contact-item a {
  display: flex;           
  align-items: center;
  gap: 0.5rem;
  width: 100%;             
  height: 100%;
  color: inherit;          
  text-decoration: none;
}


.contact-item {
    background: var(--white);
    border: 1px solid rgba(0,0,0,0.05);
    padding: 0.7rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease;
    padding-left: 5%;
    min-width: 330px;
}

[data-theme='dark'] .contact-item {
    background: #1a242f;
    border-color: rgba(255,255,255,0.05);
}

.contact-item:hover {
    border-color: var(--primary);
    box-shadow: 0 4px 12px rgba(39, 167, 118, 0.15);
}



@media (max-width:1100px) {
    .about-me-container {
        display: flex;
        flex-direction: column;
    }

    .info-section {
        padding: 0 1rem !important;
    }

    .secondary-info-section {
        padding: 1rem;
    }

    .contact-item {
        padding: 0.5rem;
    }

}